*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navibar{
    display: flex;
    justify-content: center;
    background-color: rgb(211, 104, 17);
    position: sticky;
    top: 0;
}
.navibar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navibar ul li{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}
.navibar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navibar ul li a:hover{
    background-color: orange;
    color: white;
    box-shadow: 0 0 10px brown;
}

/* about */
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgb(255, 209, 182);
}
#about h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
#pic{
    display: flex;
}
#pic img{
    width: 600px;
    height: 600px;
    margin-top: 50px;
}
#introduction{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 50px;
}
#introduction h2{
    font-size: 2rem;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
}
#introduction p{
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
}


/* portfolio */
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: lemonchiffon;
}
#portfolio h1{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}
#portfolio p{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    margin-top: 20px;
    width: 360px;
    margin: 10px;
}


/* contacts */ 
#contact{
    display: flex;
    flex-direction: column;
    background-color: beige;
}
#contact h1{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;    
}
.container {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 100px;
}
#contact img{
    height: 100px;
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
}